ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navOptions {
  display: flex;
}

.navOptions li {
  margin: 10px;
}

.productCard {
  width: 200px;
}

.productCard img {
  width: 100%;
  margin: 20px;
}

.productsList {
  display: flex;
}

.productDetails {
  display: flex;
}

.productDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}